@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Roboto", sans-serif;
    color: rgb(46, 45, 45);
}

/* Text style */
h1{
    font-size: 32px;
    font-weight: 700;
    color: #795548;
}

.logo {
    font-size: 30px;
    color: #795548;
}

/* Links style */
#current-page {
    color: #795548;
    font-weight: 700;
}

.main-nav a:visited,
.footer-nav a:visited,
a:link {
    color: rgb(46, 45, 45);
}

a:hover,
a:active {
    color: rgb(216, 87, 87);
}

/* Main Navigation Style */
#nav-section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.main-nav ul,
.second-nav ul{
    display: flex;
    gap: 15px;
}

.icon-nav img {
    width: 24px;
    height: 24px;
}

.nav-white{
    background-color: white;
    border: 1px solid #795548;
    color: #795548;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.nav-brown{
    background-color: #795548;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

/* Search Input style */
input[type="search"]{
    border: 1px solid #795548;
    padding: 5px;
}

.search-bar {
    display: flex;
}

.search-bar button {
    background-color: #795548 ;
    border: 0;
    padding: 5px;
}

.search-bar svg{
    fill: #fef7ef;
    width: 15px;
    height: 15px;
}

/* Banner style */
#banner-section {
    display: flex;
    height: 300px;
    background: url("./assets/img/umesh-soni-chocolate-cake.jpg"), 
        linear-gradient(to right, #ffffff, #fffdff, #fffcfd, #fffaf9, #fff9f5, #fef7ef, #fbf5e9, #f7f3e3, #f4efd9, #f1ebcf, #eee7c5, #ebe3bb);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px, 100%;
    /* padding: 20px; */
}

#banner-section div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.main-text {
    font-size: 28px;
}

.gallery {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px 0 0 25px;
    align-self: end;
    padding: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.gallery img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

/* Callout Section Style*/
#first-callout {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ffffff, #fffdff, #fffcfd, #fffaf9, #fff9f5, #fef7ef, #fbf5e9, #f7f3e3, #f4efd9, #f1ebcf, #eee7c5, #ebe3bb);
    gap: 10px;
    align-items: center;
    min-height: 200px;
    padding: 25px 0;
}

#first-callout h2 {
    font-size: 32px;
    color: #795548;
    text-wrap: nowrap;
    text-align: center;
    width: 50%;
}

#first-callout p {
    border-left: 1px solid black;
    width: 50%;
    padding: 0 50px;
}

/* Food gallery Section */
#food-gallery {
    text-align: center;
    padding: 20px;
}

#food-gallery > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.food-card {
    width: 150px;
}

.food-card h3 {
    text-align: left;
}

.food-card img {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.food-card .rating {
    font-size: 12px;
}

/* Read more section */
.read-more-wrapper {
    display: flex;
    margin-bottom: 25px;
    gap: 25px;
    padding: 20px;
}

.read-more-wrapper > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.read-more-wrapper > div h2 {
    font-size: 32px;
    color: #795548;
}

.read-more-wrapper > div p {
    max-width: 90%;
}

.read-more-wrapper > img {
    width: 50%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 44px -6px #000000; 
    box-shadow: 5px 5px 44px -20px #000000;
}

.read-more-wrapper a{
    color: #795548;
}

.arrow svg{
    fill: #795548;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.change-order{
    order: 2;
}

/* Contact Section Style */
#contact-callout {
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgba(235,227,187,1);
}

#contact-callout h2 {
    font-size: 32px;
    color: #795548;
}

/* Testimony Section Style */
#testimony {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 25px;
    margin: 50px auto;
    width: 90%;
}

#testimony .sub-title {
    font-size: 16px;
    background-color: bisque;
    color: #795548;
    padding: 5px;
}

#testimony blockquote {
    font-size: 48px;
}

#testimony img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
}

#testimony h3 {
    font-size: 20px;
    color: #795548;
    margin-bottom: 5px;
}

#testimony p {
    font-size: 18px;
}

/* Footer Style */
footer {
    background-color: #ebe3bb;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-navigation,
#footer-media {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 80%;
}

.footer-nav ul,
.media-nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.horizontal-line {
    border: 1px solid #806e68;
    width: 100%;
}

.media-nav svg {
    width: 15px;
    height: 15px;
    fill: rgb(46, 45, 45);
}