@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Roboto", sans-serif;
    color: rgb(46, 45, 45);
}

/* Text style */
h1{
    font-size: 32px;
    font-weight: 700;
    color: #795548;
}

.logo {
    font-size: 30px;
    color: #795548;
}

/* Links style */
#current-page {
    color: #795548;
    font-weight: 700;
}

.main-nav a:visited,
a:link {
    color: black;
}

a:hover,
a:active {
    color: rgb(216, 87, 87);
}

/* Navigation Style */
#nav-section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.main-nav ul,
.second-nav ul{
    display: flex;
    gap: 15px;
}

.icon-nav img {
    width: 24px;
    height: 24px;
}

.nav-white{
    background-color: white;
    border: 1px solid #795548;
    color: #795548;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.nav-brown{
    background-color: #795548;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

/* Search Input style */
input[type="search"]{
    border: 1px solid #795548;
    padding: 5px;
}

.search-bar {
    display: flex;
}

.search-bar button{
    background: url("./assets/icon/search.png"), #795548 ;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-size: 24px;
    width: 27.6px;
    height: 27.6px;
}

/* Banner style */
#banner-section {
    display: flex;
    height: 300px;
    background: url("./assets/img/umesh-soni-chocolate-cake.jpg"), 
        linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,227,187,1) 50%, rgba(232,219,151,1) 100%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
    /* padding: 20px; */
}

#banner-section div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.main-text {
    font-size: 28px;
}

.gallery {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px 0 0 25px;
    align-self: end;
    padding: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.gallery img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

/* Callout Section Style*/
#first-callout {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 85%;
    margin: 25px auto;
    min-height: 100px;
}

#first-callout h2 {
    font-size: 32px;
    color: #795548;
    text-wrap: nowrap;
    text-align: center;
    width: 50%;
}

#first-callout p {
    border-left: 1px solid black;
    width: 50%;
    padding: 0 50px;
}

/* Read more section */
.read-more-wrapper {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.read-more-wrapper > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.read-more-wrapper > div h2 {
    font-size: 32px;
    color: #795548;
}

.read-more-wrapper > div p {
    max-width: 90%;
}

.read-more-wrapper > img {
    width: 50%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 44px -6px #000000; 
    box-shadow: 5px 5px 44px -20px #000000;
}

.read-more-wrapper a{
    color: #795548;
}

.arrow {
    background-image: url("./assets/icon/right-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.change-order{
    order: 2;
}

/* Contact Section Style */
#contact-callout {
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgba(235,227,187,1);
}

#contact-callout h2 {
    font-size: 32px;
    color: #795548;
}
